<div class="d-flex flex-row">
    <div class="p-2">
        <PowerSelect @searchEnabled={{true}} @options={{this.csg}} @selected={{csgName}} @placeholder="Select CSG"
            @onChange={{action "csgChange"}} as |name|>
            {{name}}
        </PowerSelect>
    </div>
    <div class="p-2">
        <PowerSelect @searchEnabled={{true}} @options={{this.product}} @selected={{selectedProduct}} @placeholder="Select product"
            @onChange={{action "productChange"}} as |name|>
            {{name}}
        </PowerSelect>
    </div>

        <div class="p-2">
        <PowerSelect @searchEnabled={{true}} @options={{this.project}} @selected={{selectedProject}} @placeholder="Select project"
           @onChange={{action "projectChange"}} as |name|>
            {{name}}
        </PowerSelect>
    </div>

    <div class="p-2">
        {{#if model.[3]}}
        <PowerSelectMultiple @searchEnabled={{true}} @options={{this.model.[3]}} @selected={{timeLine}} @placeholder="Select timeline"
            @onChange={{action (mut timeLine)}} as |timeLine|>
            {{timeLine}}
        </PowerSelectMultiple>
        {{/if}}
    </div>

    <div class="ml-auto p-2">
        <BsButton @type="primary" @icon="glyphicon glyphicon-download" @onClick={{action "showChart"}}>
            Show
        </BsButton>
    </div>
</div>


{{model.firstObject.name}}

{{#if barData}}
{{ember-chart type='radar' data=barData options=barOption width=400 height=400}}
{{ember-chart type='bar' data=barData options=barOption width=400 height=400}}
{{/if}}